Build/*
.vs/
*.vsconfig
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
Binaries/*
Plugins/*/Binaries/*
Saved/*
Intermediate/*
Plugins/*/Intermediate/*
DerivedDataCache/*
.idea/